.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    height: 400px;
    box-shadow: 4px 1px px 1px gray;
}

.container>img{
    border: 1px solid;
    padding: 10px;
   

}
